{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Amit's Cart</h1>
      <p>Amit's Cart is an Indian multinational technology company which focuses on e-commerce founded by Amit Kumar Ram. It is one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Microsoft, and Facebook.The company has been referred to as "one of the most influential economic and cultural forces in the world", as well as the world's most valuable brand</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Awards And Recognition</h2>
        <p>
          Since day one we have strived to be the Earth’s most customer-centric company. We’re honored to be recognized for the work we do on behalf of our customers, employees, and communities around the world. Here are some recent awards we’ve received. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Facts about Amit's Cart</h2>
        <p>There’s a new vehicle delivering smiles to customers, and it’s electric.
          Amazon customer deliveries will look a little different in parts of Los Angeles. Just one year after announcing the purchase of 100,000 custom electric delivery vehicles as part of The Climate Pledge, Amazon has begun testing the new vans on delivery routes.

          More customers will see the custom electric delivery vehicles cruising neighborhoods in up to 15 additional cities in 2021, ahead of tens of thousands of vehicles hitting the road over the next few years. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Postion</h2>
        <p>
            We created this page to provide customers, investors, policymakers, employees, and others our views on certain issues. While our positions are carefully considered and deeply held, there is much room for healthy debate and differing opinions. We hope being clear about our positions is helpful.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}