{% extends "shop/basic.html" %}

{% block titles %}contact{% endblock %}

{% block body %}
<div class = "container my-3">
    <h5>Contact our team here</h5>

    <form action="/shop/contact/" method="post">{% csrf_token %} 
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name = 'name' placeholder="Enter your name"></div>
          <div id="emailHelp" class="form-text"></div>

          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name = 'email' placeholder="Enter your email">
            <div id="emailHelp" class="form-text"></div>

            <div class="mb-3">
                <label for="name" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name = 'phone' placeholder="Enter your Phone Number">
                <div id="emailHelp" class="form-text"></div>

            <div class = "form-group">
            <label for="desc">How May We Help You?</label>
            <textarea class="form-control" id="desc" name = 'desc' rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>


            
        
      </form>

</div>

{% endblock %}

{% block js %}

<script>

{% if thank %}
alert('Thanks for Contacting with us. We will back to you soon!');
document.location = "/shop/contact"
</script>

{% endif %}
{% endblock  %}
